<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtZ -Blog app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styleHome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="headbottons">
            <button id="btn1"><i class="fa-solid fa-plus"></i> NEW BLOG</button>
            <button id="btn2"><i class="fa fa-trash" aria-hidden="true"></i> DELETE BLOG</button>
        </div>
        <div class="listPage">
            <div class="heading"><h2>Blogs</h2></div>
            <div class="blogs-container">
                <ol class="blogs">
                    <ol class="blogs">
                        <% for(let i=0;i<headings.length;i++){  
                            let ref = "/blog.ejs?id="+(i+1);
                        %>
                            <li><a href="<%= ref %>"><%= headings[i] %></a></li>
                        <% } %>
                    </ol>
                </ol>
            </div>
        </div>
    </div>
    <script>
        const button = document.getElementById('btn1');
        button.addEventListener('click', () => {
                window.location.href = '/form.ejs'; // Change this URL to your desired page
        });
        const button2 = document.getElementById('btn2');
        button2.addEventListener('click', () => {
                window.location.href = '/deleteForm.ejs'; // Change this URL to your desired page
        });
    </script>
</body>
</html>